<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <link rel="stylesheet" href="../styles/main.css"/>
</h:head>
<h:body>
    <div style="border-width:2px; border-color:green; border-style:solid;">
        <ui:insert name="header">
            <ui:include src="./header.xhtml"/>
        </ui:insert>
    </div>
    <br/>

    <div class="wrapper">
        <ui:insert name="content">
            <ui:include src="../partials/contents.xhtml"/>
        </ui:insert>
    </div>

</h:body>
</html>
