<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html">

<body>
<ui:composition>
    <div class="menu">
        <!--h:link class="headerButton" value = "My page" outcome = "mypage" /-->
        <h:link class="headerButton" value = "Devices" outcome = "devices" />
        <h:form style="display: inline">
        <h:commandButton class="headerButton" value = "Logout" action="#{sessionController.logout()}"/>
        </h:form>
    </div>
</ui:composition>
</body>
</html>
