<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xml:lang="en" lang="en">
<head>
    <title>Devices</title>
    <link rel="stylesheet" href="styles/main.css"/>
</head>

<body>
<ui:composition template="partials/common.xhtml">
    <ui:define name="content">
        <div class="container">
            <div class="devices">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <h2>All available devices</h2>
                        </td>
                    </tr>
                    <ui:repeat value="#{deviceController.allDevices}" var="device">
                        <h:form>
                            <tr>
                                <td>
                                    <h:graphicImage width="24px" height="24px" url="img/d.png"/>
                                </td>
                                <td>
                                    <h:outputText value="#{device.name}"/>
                                </td>
                                <td>
                                    <h:outputText class="${device.name}" value="#{deviceController.mapStatusToCharacter('ONLINE')}"/>
                                </td>
                                <td>
                                    <h:commandButton action="${deviceController.viewDevice(device.id)}" value="View device"/>
                                </td>
                            </tr>
                        </h:form>
                    </ui:repeat>
                    </tbody>
                </table>
            </div>
        </div>
    </ui:define>
</ui:composition>
</body>
</html>
