<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets">

<h:head>
    <link rel="stylesheet" href="./styles/main.css" />
</h:head>

<h:body>
    <ui:composition template = "./partials/common.xhtml">
        <ui:define name = "header">
            <h1>IOT Application</h1>
        </ui:define>

        <ui:define name="content">
            <ui:include src="login.xhtml" />
        </ui:define>
    </ui:composition>
</h:body>
</html>
