<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xml:lang="en" lang="en"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="styles/main.css"/>
</head>

<h:body>
    <f:view>
        <h:form class="form-login">
            <div class="container">
                <h:inputText a:placeholder="Username" value="#{sessionController.username}"/>
                <h:inputSecret a:placeholder="Password" value="#{sessionController.password}"/>
                <div class="button-row">
                    <h:commandButton action="#{(sessionController.login())}" value="Login"/>
                    <h:button outcome="register" value="Register"/>
                </div>
            </div>

        </h:form>
    </f:view>
</h:body>

</html>
